* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-image: url(./image/bg-img.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
}
.home a{
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
.home{
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
  padding: 50px;
  text-transform: uppercase;
}
.image-container{
  margin-bottom: 50px;
}