* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #151515;
}
.home a{
  font-size: 24;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

}
.home{
    padding: 20px;
}
.container {
  display: flex;
  padding: 50px;
}
h1 {
  font-size: 40px;
  margin: auto;
  text-transform: uppercase;
  color: #fff;
}
.image-container {
  display: flex;
}
.image-container img {
  margin: auto;
}
